@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: 'Lato', sans-serif;
  transition: .2s;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  margin: 0 10px;
}

.keyboard-wrapp {
  display: flex;
  flex-wrap: wrap;
  max-width: 1015px;
  width: 100%;
  background-color: #e7e7e7;
  position: relative;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.description{
  margin-top: 20px;
}

.clearfix {
  display: block;
  width: 100%;
  clear: both;
}

.keys {
  width: 60px;
  height: 60px;
  background-color: #cacaca;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  transition: .2s;
  z-index: 5;
}

.backspace-key,
.enter-key {
  width: 120px;
}

.tab-key,
.del-key {
  width: 90px;
}

.caps-lock-key {
  width: 128px;
}

.shift-key {
  width: 158px;
}

.space-key {
  max-width: 528px;
  width: 100%;
}

.text {
  max-width: 1015px;
  width: 100%;
  height: 90px;
  margin-bottom: 30px;
  border: none;
  outline: none;
  font-size: 26px;
  background-color: #e7e7e7;
  padding-left: 10px;
  transition: .2s;
}

.active,
.caps-lock-active {
  background-color: #333;
  color: #fff;
  transition: all ease-in-out .3;
}